[user]
	name = Sam Dhondt
	email = sam.dhondt@codifly.be
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIONo9UvBVRI/nP0j+ey+hTzepWaPiRU7zfo4cBjCW+Be
[core]
	excludesfile = /Users/sam/.gitignore_global
	ignorecase = false
	editor = nvim
  pager = less
[mergetool]
	path = nvim
	keepBackup = false
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[alias]
	co = checkout
	ci = commit
  cs = commit -vsS 
	st = status
	br = branch
  rb = rebase
  pl = pull
  ps = push
[branch]
  sort = committerdate
[commit]
  verbose = true
  gpgsign = true
[column]
  ui = auto
[diff]
	tool = less
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[merge]
	tool = nvim
[push]
  autoSetupRemote = true
  default = current
[difftool]
	prompt = false
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = true
  updateRefs = true
	instructionFormat = (%an <%ae>) %s
[rerere]
  enabled = true
  autoupdate = true
[log]
  follow = true
[tag]
  sort = version:refname
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = "~/.ssh/allowed_signers"
