[user]
	name = Sam Dhondt
	email = sam.dhondt@codifly.be
[core]
	excludesfile = /Users/sam/.gitignore_global
	ignorecase = false
	editor = nvim
  pager = less
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[alias]
	co = checkout
	ci = commit
  cs = commit -vsS 
	st = status
	br = branch
  rb = rebase
  pl = pull
  ps = push
[diff]
	tool = less
[merge]
	tool = nvim
[pull]
	ff = only
[push]
	default = current
[difftool]
	prompt = false
[mergetool]
	path = nvim
	keepBackup = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	ff = only
	rebase = true
[rebase]
	autoStash = true
[gpg]
	program = gpg
[pull]
	ff = only
	rebase = true
[rebase]
	autoStash = true
